/* Below is the font style taken fromm google fonts - ubuntu style */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
 
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 45px;
    height: 45px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 30px;
    background-image: url('bg.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor: pointer;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
    /* Text align: center will not work in this bcz ye koi container ya div nhi h jiske items ko center krna ho */
    /* text-align: center; */
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    /* width: 70%; */
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.songItemcontainer{
    margin-top: 75px;
}

.songItem img{
    width: 40px;
    margin: 2px 23px ;
    border-radius: 30px;
}

.timestamp{
    margin: 0 20px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
}